apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: frontend-namespace
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - {{ .Values.frontend.ingress.host }}
      secretName: frontend-tls
  rules:
    - host: {{ .Values.frontend.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: {{ .Values.frontend.service.port }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service-external
                port:
                  number: {{ .Values.backend.service.port }}