apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ .Values.frontend.namespace }}
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: {{ .Values.frontend.service.port }}
      targetPort: {{ .Values.frontend.service.targetport }}


